#container {
     height: 200px; 
}

.grid-stack{
    vertical-align: middle !important;
    text-align: center !important;
    padding: auto;
}


.abb-dash {
    color: red;
}

.page-title {
    font-size: 1.5em;
}