h6{
    font-family: ABBFontBld !important;
    font-size: 1.02rem;
    //font-family: Open Sans, sans-serif;
    //font-weight: 10 !important; 
    //line-height: 0 !important;
}


nb-radio {
    display: inherit;
    position: relative;
}